<a href="https://colab.research.google.com/github/gauravai2025/twitter-sentiment-analyser/blob/main/sentiment_analyser.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Loading

In [4]:
import pandas as pd

# Load the dataset into a Pandas DataFrame
data = pd.read_csv('/content/sample_data/twitter_training.csv',header=None)
v_data = pd.read_csv('/content/sample_data/twitter_validation.csv',header=None)
v_data.head()

,0,1,2,3
0,3364,Facebook,Irrelevant,I mentioned on Facebook that I was struggling ...
1,352,Amazon,Neutral,BBC News - Amazon boss Jeff Bezos rejects clai...
2,8312,Microsoft,Negative,@Microsoft Why do I pay for WORD when it funct...
3,4371,CS-GO,Negative,"CSGO matchmaking is so full of closet hacking,..."
4,4433,Google,Neutral,Now the President is slapping Americans in the...

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

# Data preprocessing:

In [5]:
## Removing any null values and converting any numerical data into string

dataTxt =data[~data[3].isna()]
dataTxt[3] = dataTxt[3].astype(str)

<ipython-input-5-1ea5f52d0844>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataTxt[3] = dataTxt[3].astype(str)

In [6]:
textArray=dataTxt[3].values
dataTxt.head()

,0,1,2,3
0,2401,Borderlands,Positive,im getting on borderlands and i will murder yo...
1,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
2,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
3,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
4,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...

In [7]:
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer

from sklearn.model_selection import train_test_split

# Convert the texts into numerical features using a bag-of-words representation
vectorizer = CountVectorizer()
# X = vectorizer.fit_transform(dataTxt[3].values)
X = vectorizer.fit_transform(textArray)

# # Split the data into training and test sets
y = dataTxt[2].values
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Model Selection

In [8]:
# Model 1 Accuracy=82%
# from sklearn.naive_bayes import MultinomialNB

# # Choose a machine learning algorithm (in this case, Naive Bayes)
# model = MultinomialNB()

In [22]:
# Model 2 Accuracy= 86% with training data & 96.04% on testing data
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix, ConfusionMatrixDisplay
import warnings

# Model Training

In [9]:
# # Train the model on the training data
# model.fit(X_train, y_train)

MultinomialNB()

In [23]:
SVCmodel = LinearSVC()
SVCmodel.fit(X_train, y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/svm/_base.py:1206: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

LinearSVC()

In [24]:
svc_pred = SVCmodel.predict(X_test)
svc_acc = accuracy_score(svc_pred, y_test)
print("test accuracy: {:.2f}%".format(svc_acc*100))

test accuracy: 86.53%

# Model evaluation:

In [25]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

# Evaluate the model on the test data
y_pred = SVCmodel.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred, average='macro')
recall = recall_score(y_test, y_pred, average='macro')
f1 = f1_score(y_test, y_pred, average='macro')

print("Accuracy:", accuracy)
print("Precision:", precision)
print("Recall:", recall)
print("F1-score:", f1)

Accuracy: 0.8652702702702703
Precision: 0.8724114822246171
Recall: 0.8590827528185562
F1-score: 0.8641067191881615

# Exporting the model:

In [26]:
import joblib

# Save the model to disk
filename = 'twitter_sentiment_analysis_model.joblib'
joblib.dump(SVCmodel, filename)

# Load the model from disk
loaded_model = joblib.load(filename)

In [ ]:
# Preprocess the test data
v_data_vectorized = vectorizer.transform(v_data[3].values)

# Make predictions on the test data
v_data_predictions = loaded_model.predict(v_data_vectorized)
v_data_predictions

# Testing on validation data:

In [28]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

# Calculate accuracy
accuracy = accuracy_score(v_data[2].values, v_data_predictions)
print("Accuracy:", accuracy)

# Calculate precision
precision = precision_score(v_data[2].values, v_data_predictions, average='weighted')
print("Precision:", precision)

# Calculate recall
recall = recall_score(v_data[2].values, v_data_predictions, average='weighted')
print("Recall:", recall)

# Calculate F1 score
f1 = f1_score(v_data[2].values, v_data_predictions, average='weighted')
print("F1 Score:", f1)

Accuracy: 0.96
Precision: 0.9604108142057004
Recall: 0.96
F1 Score: 0.9600542510785586